commentjson==0.9.0
imageio==2.31.2
Imath==0.0.2
matplotlib==3.5.3
numpy==1.21.5
open3d==0.10.0.0
opencv_python==4.8.1.78
OpenEXR==1.3.2
OpenEXR==3.2.4
Pillow==9.5.0
Pillow==9.4.0
Pillow==10.3.0
plyfile==1.0.3
pymeshlab==2023.12.post1
pyshtools==4.10.4
scipy==1.7.3
setuptools==58.2.0
tinycudann==1.7
torch==1.12.1
torchvision==0.13.1
tqdm==4.66.1
